<!DOCTYPE html>
<html>
	<head>
		<title>RocketGroundStation</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>

	<body class="container" style="background-color: #292824; color: #fff">
		<h1>This is a test</h1>
		<canvas style="padding-left: 10px" id="testc"></canvas>
		<canvas style="padding-left: 10px" id="testc2"></canvas>

		<script src="/js/AaronGraphLibrary.js"></script>
	</body>

	<script>
		let displayBuffers = [[], []]
		const graph = new DisplayGraph("testc", {
			buffers: displayBuffers,
			colors: ["#ff0000", "#00ff00"],
			title: "Test Graph - Websocket Edition",
			titleX: "Time (sec)",
			titleY: "Units of Nut"
		});

		let displayBuffers2 = [[], []]
		const graph2 = new DisplayGraph("testc2", {
			buffers: displayBuffers2,
			colors: ["#00ff00", "#0000ff"],
			title: "Test Graph - Websocket Edition 2",
			titleX: "Time (sec)",
			titleY: "Units of Nut"
		});



		let t = 0;
		setInterval(() => {
			displayBuffers[0].push([(t/1000)**3, t]);
			displayBuffers[1].push([50*Math.sin(t), t]);

			displayBuffers2[0].push([t/1000, t]);
			displayBuffers2[1].push([20*Math.sin(t), t]);
			t+=50;
		}, 50);
	</script>
</html>