body {
	background-color: #000;
	color: #fff
}

#main {
	padding-left: 5px;
	padding-top: 5px;
}

#m-left {
	padding-left: 5px;
}

#m-right {
	padding-right: 5px;
}

.brand-large {
	font-size: 2rem;
}

.btn {
	font-size: 1.5rem;
}

#m-left {
	left: 0px;
	position: absolute;
}

#m-right {
	right: 0px;
	position: absolute;
}

.vCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-brand span,li {
	font-weight: 700;
}